html, body {
    height: 100%;
}

body {
    font-family: Helvetca;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #66089c 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

button {
    font-size: 1.2em;
    background-color: #2b0442;
    border: 2px solid #66089c;
    color: white;
    padding: 1.2em;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}