html, body {
    height: 100%;
}

body {
    font-family: Helvetca;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(102, 8, 156, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

button {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 1.2em;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}